{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Osama Zaki</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>

	<!-- ################################################################### -->

    {% include 'base/navbar.html' %}

	<!-- ################################################################### -->
<br>

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg rounded-3">
                <div class="card-body">
                    <h2 class="text-center mb-4">Contact Me</h2>
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_name" class="form-label fw-bold">Name</label>
                            {{ form.name }}
                        </div>
                        <div class="mb-3">
                            <label for="id_email" class="form-label fw-bold">Email</label>
                            {{ form.email }}
                        </div>
                        <div class="mb-3">
                            <label for="id_subject" class="form-label fw-bold">Subject</label>
                            {{ form.subject }}
                        </div>
                        <div class="mb-3">
                            <label for="id_message" class="form-label fw-bold">Message</label>
                            {{ form.message }}
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary w-50">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


</body>
</html>
