{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Osama Zaki</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<!-- ################################################################### -->

	    {% include 'base/navbar.html' %}

	<!-- ################################################################### -->
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/osama.jpg' %}" >
					<hr>
					<h4>Osama Zaki</h4>
					<p>AI | Computer Vision |<br> Data Science | Embedded systems | Automotive</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>About Me</h4>
					<hr>
					<p>I'm a <strong>Results-driven Electronics and Electrical Communications Engineer</strong> with expertise in <strong>AI, Machine Learning, and Computer Vision</strong>. Skilled in backend development, embedded systems, and microcontroller programming, with hands-on experience in predictive modeling, object detection, segmentation, and autonomous systems.</p>
                    <p>Proficient in <strong>Python, TensorFlow, OpenCV, and scikit-learn</strong>, with a strong ability to design AI-driven solutions. Passionate about leveraging deep learning and data science to solve real-world challenges.</p>
                    <p>Seeking a <strong>Master's degree</strong> to deepen my knowledge in <strong>AI algorithms, big data analytics, or embedded AI</strong>, with the goal of contributing to cutting-edge research or industry innovation.</p>

					<ul class="social-links">
						<li><a href="https://www.linkedin.com/in/osamazaki2525/" target="_blank"><img class="social" src="{% static 'images/linkedin.png' %}"></a></li>
						<li><a href="https://github.com/osamazaki2525" target="_blank"><img class="social" src="{% static 'images/github.png' %}"></a></li>
						<li><a href="mailto:osamazaki2525@gmail.com" target="_blank"><img class="social" src="{% static 'images/gmail.png' %}"></a></li>
						<li><a href="https://wa.me/+201032789542" target="_blank"><img class="social" src="{% static 'images/whatsapp.png' %}"></a></li>
						<li><a href="#" download target="_blank"><img class="social" src="{% static 'images/cv.png' %}"></a></li>
					</ul>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Education</h5>
					<hr>
					<p><strong>Bachelor’s Degree in Electronics and Electrical Communications Engineering</strong></p>
					<p><strong>University:</strong> Zagazig University, Egypt</p>
					<p><strong>Graduation:</strong> July 2025</p>
					</div>
			</div>
			
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Student Activities</h5>
					<hr>
					<p><strong>Student Activity , Deep Dive into AI track with<a href="https://www.linkedin.com/company/zagengfamily/" target="_blank"> Zag Eng Family</a></strong> (November 2023)<br>
						• Python for DataScience and ML and OOP.<br>
						• Data nalysis and visualization using python (pandas, numpy, matplotlib). 
						<a href="https://drive.google.com/drive/folders/1brnF09W0fvbLnL_YOWZzC2ijqA98BhqF?usp=sharing" target="_blank"> Certificate</a></p>
					</ul>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Skills & Courses</h5>
					<hr>
					<h6>Technical:</h6>
					<p>Machine Learning Algorithms, OOP and Data Structures</p>

					<h6>Programming Languages:</h6>
					<p>Python, Java, C, C#, SQL</p>

					<h6>Software:</h6>
					<p>Microsoft SQL Server, Git, GitHub</p>

					<h6>Data Analysis:</h6>
					<p>NumPy, Pandas, Matplotlib, Seaborn</p>

					<h6>Machine Learning:</h6>
					<p>scikit-learn, TensorFlow, Keras, OpenCV, PyTorch</p>

					<h6>Languages:</h6>
					<p>Arabic (Native)<br> English (B2)<br> German (B2) -<a href="https://drive.google.com/drive/folders/1brnF09W0fvbLnL_YOWZzC2ijqA98BhqF?usp=sharing" target="_blank">Goethe Certificates</a></p>
				</div>
			</div>
			
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Volunteering Experience</h5>
				<hr>
				<p><strong>Machine Learning internship, at <a href="https://www.linkedin.com/company/orange-digital-center-egypt/" target="_blank">Orange Digital Center Egypt</a></strong> | December 2024 <br>
					• Explored core ML topics including NLP, RNNs, CNNs, Computer Vision, GANs, VAEs, and MLOps. Gained hands-on experience through practical tasks and mini-projects in each area.
					<a href="https://drive.google.com/drive/folders/1brnF09W0fvbLnL_YOWZzC2ijqA98BhqF?usp=sharing" target="_blank"> Certificate</a></p>
				
				<p><strong>Undergraduate Student , at <a href="https://www.linkedin.com/company/neuronetixacademy/" target="_blank"> Neuronetix</a> </strong> | Summer 2024<br>
					• I learned Machine Learning using Python supervised and unsupervised algorithms  , doing some Tasks
					and participating in the ABDELGHAFOR’S Hackathon.
					<a href="https://drive.google.com/drive/folders/1brnF09W0fvbLnL_YOWZzC2ijqA98BhqF?usp=sharing" target="_blank"> Certificate</a></p>
				
				</div>
			</div>
		</div>
		<br>

		<div class="row">
			<div class="col-md-12">
				<div class="card card-body h-100">
					<h5>Projects</h5>
					<hr>
					<!-- self-driving-Car    AI-Gym-Trainer    face-recognition     Churn-Prediction          Desktop-sales-LINQ     Desktop-sales -->
					<ul>
						<li><a class="nav-link" href="{% url 'base:self-driving-Car' %}"><strong>Autonomous self-driving Car</strong></a></li>
						<br>
						<li><a class="nav-link" href="{% url 'base:AI-Gym-Trainer' %}"><strong>AI Gym Trainer</strong></a></li>
						<br>
						<li><a class="nav-link" href="{% url 'base:face-recognition' %}"><strong>Authentication Searching Identification real-time System Facial recognition </strong></a></li>
						<br>
						<li><a class="nav-link" href="{% url 'base:Churn-Prediction' %}"><strong>Telecom Customer Churn Prediction & Segmentation</strong></a></li>
						<br>
						<li><a class="nav-link" href="https://github.com/osamazaki2525/SalesApp2" target="_blank"><strong>Desktop sales Application with LINQ to SQL</strong></a></li>
						<br>
						<li><a class="nav-link" href="https://github.com/osamazaki2525/SalesApp1-C-" target="_blank"><strong>Desktop sales Application</strong></a></li>
						
					</ul>
			</div>
		</div>       
		<br>
	</div>

</body>
</html>